body{
    background: linear-gradient(rgb(49, 49, 71), rgba(58, 149, 149, 0.423));
    height: 100vh;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}
#main_container h1{
    display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px;

}
#main_container{
    /* border: 2px solid black; */
    padding: 20px;
    margin: 2% 10% 5% 10% ;
    height: 85vh;
    
}
#added_names{
    border-top: 2px solid rgba(58, 149, 149, 0.423);
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: scroll;
}
.listy{
    padding: 2%;
}
#user{
    padding: 10px;
    width:300px;
    border-radius: 5px
}
#search_form{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form button{
    padding: 2px;
    width:40px;
    font-size: 20px;
    
}
button{
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(49, 49, 71, 0.229) ;
    color: white;
    cursor: pointer;

}
button:hover{
    font-size: 20px;
}
#search_results{
    border-top: 2px solid rgba(58, 149, 149, 0.423);
    border-radius: 40px;
    padding: 15px;
    align-content:center ;
    /* margin: 0% 20% 0% 15%; */
    height: 60vh;
    overflow-y: auto;
    width: 60%;
}
/* Hide scroll bar */
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
#languages{
    /* border: 1px solid black; */
    height: 60vh;
    /* width: 70%; */
    margin-bottom: 4px;
    overflow-y: auto;

} 
#div_results{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
img{
    width:120px;
    padding-right: 2px;
}
#nav{
    display: flex;
    justify-content: flex-start;
       
}
#results_div:hover{
    background-color: rgba(58, 149, 149, 0.205);
    font-size: 17px;
       
}
#results_div{
    border: 1px solid rgba(49, 49, 71, 0.307);
    border-radius: 10px;
    padding: 2px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#github{
    width: 50px;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;;
    color: white;
}
iframe{
    height: 60vh;
    border: none;
}
.repos{
    border-left: 1px solid rgba(49, 49, 71, 0.307);
    border-right: 1px solid rgba(49, 49, 71, 0.307);
    border-bottom: 1px solid rgba(49, 49, 71, 0.307);
    border-radius: 12px;
    margin: 10px;
    margin-right: 40%;
    background: linear-gradient(rgba(49, 49, 71, 0.347), rgba(58, 149, 149, 0.242));
    padding:10px;
    
}
.repos:hover{
    border-left: 3px solid rgba(49, 49, 71, 0.307);
    border-right: 3px solid rgba(49, 49, 71, 0.307);
    border-bottom: 3px solid rgba(49, 49, 71, 0.307);
 
}
#nav_repos, #body_repos{
    display:flex;
    justify-content: space-between;
}
#body_repos{
    align-items: flex-end;
    font-size: 15px;
}
#repo_link:hover{
    font-size: 20px;
    background-color: rgba(49, 49, 71, 0.308);
    padding: 5px;
}
/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border-radius: 4px;
  
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 9%;
    left: 13%;
    width: 75.5%;
    height:70vh;
    background: linear-gradient(rgb(49, 49, 71), rgba(58, 149, 149, 0.423));
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;


  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 30px;
    background-color: rgb(49, 49, 71);
    color: white;
    width: 30%;
    display:flex;
    align-items: center;
    flex-direction: column;    
  }
  
  .modal-body {
    padding: 2px 16px;
    width: 60%;
    overflow-y: hidden;
    

}
#recent{
    height: 100%;
    overflow-y: auto;
    
}
#followers{
    display: flex;
    justify-content: space-around;
}
#gh:hover{
    font-size: 20px;
    background-color: rgba(58, 149, 149, 0.423);
    border-radius: 50%;

}
.modal-header img{
    width: 170px;
    border-radius: 4px;

}
/* reting */
.star {
    font-size: 24px;
    color: #ccc;
    margin-right: 5px;
    cursor: pointer;
  }
.star:hover{
    color: #ffcc00 ;

}
video {
    position: absolute;
    bottom: 10px;
    /* left: 0; */
    width: 60%;
    margin-left:10%;
    /* height: 100%; */
    z-index: 1;
    border-radius: 20px;
    
}

